header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    background-color: #000000;
    justify-content: space-around;
    border-bottom: 4px #2271D1 solid ;
}

.logo {
    width: 168px;
    height: 40px;
}

.buttonsHeader {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.buttonsHeader button{
    width: 180px;
    height: 36px;
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 15px;
    background-color: #262626;
}

.buttonsHeader button:hover {
    color:#2271D1;
    border: 2px #2271D1 solid;
    transition: 0.5s;
    box-sizing: inset 0 0 12px 4px #2271D1;
}